@model BeanSceneApp.Models.Table

@{
    ViewData["Title"] = "Edit Table";
}

<h1>Edit Table</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label fw-bold my-1"></label>
                <input asp-for="AreaId" style="border: solid 2px #083944" class="form-control" />
                <span asp-validation-for="AreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableNum" class="control-label fw-bold my-1"></label>
                <input asp-for="TableNum" style="border: solid 2px #083944" class="form-control" />
                <span asp-validation-for="TableNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label fw-bold my-1"></label>
                <input asp-for="Note" style="border: solid 2px #083944" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary my-2" />

                <a type="button" class="btn btn-primary my-1" href="@Url.Action("Index")">
                    <span>Back</span>
                </a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
