@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <img class="img-fluid" src="~/img/pexels-de-lemster-krant-2894275-2.jpg" />
</div>
<div class="row my-4">
    <div class="col-6" style="text-align: center">
        <h3>Breakfast | Lunch | Dinner</h3>
        <h3>Private Events</h3>

        <p>Bean Scene is located in the north-west of Sydney for breakfast, lunch, dinner or just a takeaway coffee! We have a large menu with options for everyone</p>
        <p>We also host and cater for private events! Contact us for more information.</p>

        <a class="btn btn-primary" asp-controller="Booking" asp-action="Create">Booking</a>
        <a class="btn btn-primary" asp-controller="Booking" asp-action="PrivateBooking">Private Event</a>
    </div>
    <div class="col-6" style="text-align: center">
        <h3>Opening Hours</h3>
        <p style="margin-bottom: 0">Mon - Fri</p> 
        <p>07:00AM - 09:00PM</p>
        <p style="margin-bottom: 0">Sat - Sun</p> 
        <p>08:00AM - 09:00PM</p>

        <h3>Contact</h3>
        <p style="margin-bottom: 0">123 Street St</p>
        <p style="margin-bottom: 0">Hornsby NSW 2077</p>
        <p style="margin-bottom: 0">booking@beanscene.com.au</p>
        <p>9999 9999</p>

        
    </div>
</div>

